
.searchbar {
  font-size: 1.5em;
  max-width: 50rem;
  z-index: 2;
}

.searchbar input::placeholder {
  font-style: italic !important;
}

.searchbar > * {
  font-size: calc(var(--bs-body-font-size) * 1.25);
  background-color: var(--primary) !important;
  padding: 0.5rem 1rem;
  border: 2px solid var(--stroke) !important;
}

.searchbar > *:not(:first-child) {
  border-left: none !important;
  border-radius: 0 0.75rem 0.75rem 0!important;
}

.searchbar > *:not(:last-child) {
  border-right: none !important;
  border-radius: 0.75rem 0 0 0.75rem !important;
}

.autocomplete {
  position: absolute;
  background-color: var(--dark);
  width: 100%;
  border: 2px solid var(--primary);
  transform: translateY(-1rem);
  max-width: 50rem;
  z-index: 1;
  border-radius: 12px;
}

.autocomplete > * {
  cursor: pointer;
  padding: 0.1rem 0;
}

.autocomplete > *:hover {
  background-color: var(--primary);
}