.login-card {
  max-width: 30rem;
  min-height: 35rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 3rem;
  border-radius: 20px;
  background-color: #161E29;
  border: 1px solid #1A2E3D;
}
.login-card h1, .forgot-password {
  cursor: pointer;
}

.login-card input, .login-card input:focus {
  background-color: var(--dark) !important;
  border: none !important;
}

.login-card input:-webkit-autofill,
.login-card input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
    color: white !important;
}
.login-card input[data-autocompleted] {
    background-color: transparent !important;
    color: white !important;
}


.forgot-password {
  text-decoration: none !important;
  transition: color 0.1s ease-in-out;
}

.forgot-password:hover {
  color: var(--accent-highlight);
}

.forgot-password:active {
  color: white !important;
}

.accent {
  color: var(--accent);
}

:global(.nav-pills .nav-link.active) {
  background-color: var(--accent); /* Set your desired background color */
  color: var(--bg);
}
:global(.nav-pills .nav-link:not(.active)) {
  color: var(--accent); /* Set your desired background color */
}