.container + .container {
  border-top: 2px solid var(--stroke);
}

.image {
  aspect-ratio: 9 / 3;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .image {
    aspect-ratio: 4 / 3
  }
}